body {
  font-family: Arial, sans-serif;
}

.bg-dark {
  background-color: #121212 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}